Repository polywrap/toolchain, pull requests merged in 2022-08, with the labels that each got.

#1098 Use jest for template testing
  packages/templates/app/typescript-node/polywrap.app.yaml
  packages/templates/app/typescript-node/schema.graphql
  packages/templates/app/typescript-react/polywrap.app.yaml
  packages/templates/app/typescript-react/schema.graphql
  packages/templates/app/typescript-react/src/HelloWorld.tsx
  packages/templates/jest.config.js
  packages/templates/package.json
  packages/templates/run-tests.ts
  packages/templates/tests.spec.ts
  packages/templates/tsconfig.json
Labels: PR state: needs review

#1145 Fix: Maps with custom values rust binding
  packages/schema/bind/src/bindings/rust/types.ts
  packages/schema/bind/src/bindings/rust/wasm/transforms/propertyDeps.ts
  packages/test-cases/cases/bind/sanity/input/schema.graphql
  packages/test-cases/cases/bind/sanity/output/app-ts/schema.ts
  packages/test-cases/cases/bind/sanity/output/app-ts/types.ts
  packages/test-cases/cases/bind/sanity/output/plugin-ts/schema.ts
  packages/test-cases/cases/bind/sanity/output/plugin-ts/types.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/CustomMapValue/index.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/CustomMapValue/serialization.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/CustomType/index.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/CustomType/serialization.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/index.ts
  packages/test-cases/cases/bind/sanity/output/wasm-rs/custom_map_value/mod.rs
  packages/test-cases/cases/bind/sanity/output/wasm-rs/custom_map_value/serialization.rs
  packages/test-cases/cases/bind/sanity/output/wasm-rs/custom_type/mod.rs
  packages/test-cases/cases/bind/sanity/output/wasm-rs/custom_type/serialization.rs
  packages/test-cases/cases/bind/sanity/output/wasm-rs/mod.rs
Labels: pr: needs review, package: schema

#1092 Add WebSocket plugin
  packages/js/plugins/ws/README.md
  packages/js/plugins/ws/jest.config.js
  packages/js/plugins/ws/package.json
  packages/js/plugins/ws/polywrap.plugin.yaml
  packages/js/plugins/ws/src/__tests__/e2e/e2e.spec.ts
  packages/js/plugins/ws/src/__tests__/e2e/integration.spec.ts
  packages/js/plugins/ws/src/__tests__/e2e/integration/.gitignore
  packages/js/plugins/ws/src/__tests__/e2e/integration/package.json
  packages/js/plugins/ws/src/__tests__/e2e/integration/polywrap.build.yaml
  packages/js/plugins/ws/src/__tests__/e2e/integration/polywrap.yaml
  packages/js/plugins/ws/src/__tests__/e2e/integration/schema.graphql
  packages/js/plugins/ws/src/__tests__/e2e/integration/src/index.ts
  packages/js/plugins/ws/src/__tests__/e2e/memory.schema.graphql
  packages/js/plugins/ws/src/index.ts
  packages/js/plugins/ws/src/schema.graphql
  packages/js/plugins/ws/tsconfig.build.json
  packages/js/plugins/ws/tsconfig.json
  yarn.lock
Labels: pr: needs review, package: client-js

#1142 Fix: Map attributes in rust binding
  packages/js/client/src/__tests__/e2e/test-cases.ts
  packages/schema/bind/src/bindings/rust/types.ts
  packages/schema/bind/src/bindings/rust/wasm/templates/object-type/serialization-rs.mustache
  packages/schema/bind/src/bindings/rust/wasm/transforms/propertyDeps.ts
  packages/test-cases/cases/bind/sanity/input/schema.graphql
  packages/test-cases/cases/bind/sanity/output/app-ts/types.ts
  packages/test-cases/cases/bind/sanity/output/plugin-ts/types.ts
  packages/test-cases/cases/bind/sanity/output/plugin-ts/wrap.info.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/CustomMapValue/index.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/CustomMapValue/serialization.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/CustomType/index.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/CustomType/serialization.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/index.ts
  packages/test-cases/cases/bind/sanity/output/wasm-rs/custom_map_value/mod.rs
  packages/test-cases/cases/bind/sanity/output/wasm-rs/custom_map_value/serialization.rs
  packages/test-cases/cases/bind/sanity/output/wasm-rs/custom_type/mod.rs
  packages/test-cases/cases/bind/sanity/output/wasm-rs/custom_type/serialization.rs
  packages/test-cases/cases/bind/sanity/output/wasm-rs/mod.rs
  packages/test-cases/cases/wrappers/wasm-as/map-type/schema.graphql
  packages/test-cases/cases/wrappers/wasm-as/map-type/src/index.ts
  packages/test-cases/cases/wrappers/wasm-rs/map-type/schema.graphql
  packages/test-cases/cases/wrappers/wasm-rs/map-type/src/lib.rs
Labels: integration: defi-wrapper, pr: needs review, package: schema

#1157 Feat: Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
Labels: pr: needs review

#1168 fix: imported optional Map type bindings in Rust
  packages/schema/bind/src/bindings/rust/functions.ts
  packages/schema/bind/src/bindings/rust/wasm/templates/imported/object-type/serialization-rs.mustache
  packages/test-cases/cases/bind/sanity/output/wasm-rs/env/mod.rs
  packages/test-cases/cases/bind/sanity/output/wasm-rs/env/serialization.rs
Labels: pr: needs review, package: schema

#1036 Allow custom cache object to be passed to client config
  packages/js/client/src/PolywrapClient.ts
  packages/js/client/src/index.ts
  packages/js/client/src/plugin/index.ts
  packages/js/core/src/__tests__/resolveUri.spec.ts
  packages/js/core/src/cache/SimpleWrapperCache.ts
  packages/js/core/src/cache/index.ts
  packages/js/core/src/index.ts
  packages/js/core/src/types/Client.ts
  packages/js/core/src/types/Wrapper.ts
  packages/js/core/src/types/WrapperCache.ts
  packages/js/core/src/types/index.ts
  packages/js/core/src/uri-resolution/resolvers/cache/CacheResolver.ts
  packages/js/core/src/uri-resolution/resolvers/extendable/ExtendableUriResolver.ts
Labels: pr: do not merge, pr: wip, package: client-js

#1143 Modify Ethereum plugin config to use Connections store
  packages/cli/src/__tests__/e2e/deploy.spec.ts
  packages/cli/src/lib/defaults/deploy-modules/ens/index.ts
  packages/cli/src/lib/defaults/deploy-modules/local-dev-ens/index.ts
  packages/cli/src/lib/helpers/client.ts
  packages/cli/src/lib/test-env/client-config.ts
  packages/js/client-config-builder/src/bundles/default-client-config.ts
  packages/js/client/scripts/extractPluginConfigs.ts
  packages/js/client/src/__tests__/utils/getClientWithEnsAndIpfs.ts
  packages/js/client/src/pluginConfigs/Ethereum.ts
  packages/js/plugins/ethereum/README.md
  packages/js/plugins/ethereum/src/Connection.ts
  packages/js/plugins/ethereum/src/Connections.ts
  packages/js/plugins/ethereum/src/__tests__/connection.spec.ts
  packages/js/plugins/ethereum/src/__tests__/connections.spec.ts
  packages/js/plugins/ethereum/src/__tests__/e2e.spec.ts
  packages/js/plugins/ethereum/src/index.ts
  packages/js/plugins/uri-resolvers/ens-resolver/README.md
  packages/js/plugins/uri-resolvers/ens-resolver/src/__tests__/e2e.spec.ts
  packages/js/plugins/uri-resolvers/file-system-resolver/src/__tests__/e2e.spec.ts
  packages/js/react/src/__tests__/plugins.ts
  packages/js/test-env/src/index.ts
  packages/templates/wasm/assemblyscript/src/__tests__/utils.ts
  packages/test-cases/cases/cli/wasm/run/workflows/config.ts
  yarn.lock
Labels: pr: needs review, package: client-js

#1055 SigNoz tracing
  packages/cli/src/lib/defaults/infra-modules/tracer/alerts.yml
  packages/cli/src/lib/defaults/infra-modules/tracer/clickhouse-config.xml
  packages/cli/src/lib/defaults/infra-modules/tracer/clickhouse-users.xml
  packages/cli/src/lib/defaults/infra-modules/tracer/docker-compose.yaml
  packages/cli/src/lib/defaults/infra-modules/tracer/nginx-config.conf
  packages/cli/src/lib/defaults/infra-modules/tracer/otel-collector-config.yaml
  packages/cli/src/lib/defaults/infra-modules/tracer/prometheus.yml
  packages/js/client/src/PolywrapClient.ts
  packages/js/react/src/provider.tsx
  packages/js/tracing/package.json
  packages/js/tracing/src/index.ts
  yarn.lock
Labels: pr: needs review, package: cli, package: client-js

#1042 Simple console tracing
  packages/cli/src/lib/defaults/infra-modules/tracer/alerts.yml
  packages/cli/src/lib/defaults/infra-modules/tracer/clickhouse-config.xml
  packages/cli/src/lib/defaults/infra-modules/tracer/clickhouse-users.xml
  packages/cli/src/lib/defaults/infra-modules/tracer/docker-compose.yaml
  packages/cli/src/lib/defaults/infra-modules/tracer/nginx-config.conf
  packages/cli/src/lib/defaults/infra-modules/tracer/otel-collector-config.yaml
  packages/cli/src/lib/defaults/infra-modules/tracer/prometheus.yml
  packages/js/client/src/PolywrapClient.ts
  packages/js/core/src/plugin/PluginWrapper.ts
  packages/js/core/src/wasm/WasmWrapper.ts
  packages/js/react/package.json
  packages/js/react/src/provider.tsx
  packages/js/tracing/package.json
  packages/js/tracing/src/declarations.d.ts
  packages/js/tracing/src/index.ts
  yarn.lock
Labels: pr: needs review, package: client-js

#1100 add manifest schema for workflow file
  packages/cli/lang/en.json
  packages/cli/lang/es.json
  packages/cli/src/__tests__/e2e/help.spec.ts
  packages/cli/src/__tests__/e2e/jobrunner-test-cases.ts
  packages/cli/src/__tests__/e2e/jobrunner.spec.ts
  packages/cli/src/__tests__/e2e/no-command.spec.ts
  packages/cli/src/__tests__/e2e/run.spec.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/lib/index.ts
  packages/cli/src/lib/option-parsers/run.ts
  packages/cli/src/lib/project/manifests/polywrap/load.ts
  packages/cli/src/lib/workflow/JobRunner.ts
  packages/cli/src/lib/workflow/index.ts
  packages/js/client/src/PolywrapClient.ts
  packages/js/client/src/__tests__/e2e/workflow.spec.ts
  packages/js/core/src/index.ts
  packages/js/core/src/types/Client.ts
  packages/js/core/src/types/Workflow.ts
  packages/js/core/src/types/index.ts
  packages/js/manifests/polywrap/scripts/generate.ts
  packages/js/manifests/polywrap/scripts/templates/index-ts.mustache
  packages/js/manifests/polywrap/src/__tests__/PolywrapWorkflow.spec.ts
  packages/js/manifests/polywrap/src/__tests__/manifest/workflow/incorrect-version-format/polywrap.test.yaml
  packages/js/manifests/polywrap/src/__tests__/manifest/workflow/main.ts
  packages/js/manifests/polywrap/src/__tests__/manifest/workflow/not-accepted-field/polywrap.test.yaml
  packages/js/manifests/polywrap/src/__tests__/manifest/workflow/required-field-missing/polywrap.test.yaml
  packages/js/manifests/polywrap/src/__tests__/manifest/workflow/schema.graphql
  packages/js/manifests/polywrap/src/__tests__/manifest/workflow/wrong-type/polywrap.test.yaml
  packages/js/manifests/polywrap/src/formats/index.ts
  packages/js/manifests/polywrap/src/formats/polywrap.app/index.ts
  packages/js/manifests/polywrap/src/formats/polywrap.build/index.ts
  packages/js/manifests/polywrap/src/formats/polywrap.deploy/index.ts
  packages/js/manifests/polywrap/src/formats/polywrap.infra/index.ts
  packages/js/manifests/polywrap/src/formats/polywrap.meta/index.ts
  packages/js/manifests/polywrap/src/formats/polywrap.plugin/index.ts
  packages/js/manifests/polywrap/src/formats/polywrap.test/0.1.0.ts
  packages/js/manifests/polywrap/src/formats/polywrap.test/deserialize.ts
  packages/js/manifests/polywrap/src/formats/polywrap.test/index.ts
  packages/js/manifests/polywrap/src/formats/polywrap.test/migrate.ts
  packages/js/manifests/polywrap/src/formats/polywrap.test/validate.ts
  packages/js/manifests/polywrap/src/formats/polywrap/index.ts
  packages/manifests/polywrap/formats/polywrap.test/0.1.0.json
  packages/templates/wasm/assemblyscript/package.json
  packages/templates/wasm/assemblyscript/polywrap.test.yaml
  packages/templates/wasm/rust/package.json
  packages/templates/wasm/rust/polywrap.test.yaml
  packages/test-cases/cases/cli/wasm/run/client-async-config.js
  packages/test-cases/cases/cli/wasm/run/client-async-config.ts
  packages/test-cases/cases/cli/wasm/run/client-config.js
  packages/test-cases/cases/cli/wasm/run/client-config.ts
  packages/test-cases/cases/cli/wasm/run/package.json
  packages/test-cases/cases/cli/wasm/run/polywrap.deploy.fail-between.yaml
  packages/test-cases/cases/cli/wasm/run/polywrap.deploy.invalid-config.yaml
  packages/test-cases/cases/cli/wasm/run/polywrap.deploy.no-ext.yaml
  packages/test-cases/cases/cli/wasm/run/polywrap.test.invalid.json
  packages/test-cases/cases/cli/wasm/run/polywrap.test.json
  packages/test-cases/cases/cli/wasm/run/polywrap.test.validate.yaml
  packages/test-cases/cases/cli/wasm/run/polywrap.test.yaml
  packages/test-cases/cases/cli/wasm/run/validator.cue
Labels: pr: needs review, package: cli, package: client-js
