Repository polywrap/toolchain, pull requests merged in 2022-09, with the labels that each got.

#1158 Remove sha3, uts46,and graph-node plugins from default client config
  packages/cli/src/lib/defaults/deploy-modules/ens/index.ts
  packages/js/client-config-builder/package.json
  packages/js/client-config-builder/src/bundles/default-client-config.ts
  packages/js/client/package.json
  packages/js/client/src/__tests__/core/plugin-wrapper.spec.ts
  packages/js/client/src/__tests__/core/sanity.spec.ts
  packages/js/plugins/ethereum/src/Connections.ts
  packages/js/plugins/graph-node/README.md
  packages/js/plugins/graph-node/jest.config.js
  packages/js/plugins/graph-node/package.json
  packages/js/plugins/graph-node/polywrap.plugin.yaml
  packages/js/plugins/graph-node/src/__tests__/e2e.spec.ts
  packages/js/plugins/graph-node/src/index.ts
  packages/js/plugins/graph-node/src/schema.graphql
  packages/js/plugins/graph-node/tsconfig.build.json
  packages/js/plugins/graph-node/tsconfig.json
  packages/js/plugins/sha3/README.md
  packages/js/plugins/sha3/jest.config.js
  packages/js/plugins/sha3/package.json
  packages/js/plugins/sha3/polywrap.plugin.yaml
  packages/js/plugins/sha3/src/__tests__/index.test.ts
  packages/js/plugins/sha3/src/index.ts
  packages/js/plugins/sha3/src/schema.graphql
  packages/js/plugins/sha3/tsconfig.build.json
  packages/js/plugins/sha3/tsconfig.json
  packages/js/plugins/uri-resolvers/ens-resolver/src/__tests__/e2e.spec.ts
  packages/js/plugins/uts46/README.md
  packages/js/plugins/uts46/jest.config.js
  packages/js/plugins/uts46/package.json
  packages/js/plugins/uts46/polywrap.plugin.yaml
  packages/js/plugins/uts46/src/__tests__/index.test.ts
  packages/js/plugins/uts46/src/index.ts
  packages/js/plugins/uts46/src/schema.graphql
  packages/js/plugins/uts46/tsconfig.build.json
  packages/js/plugins/uts46/tsconfig.json
  packages/js/test-env/src/index.ts
  packages/js/test-env/src/wrappers/ens/schema.graphql
  packages/js/test-env/src/wrappers/ens/wrap.info
  packages/js/test-env/src/wrappers/ens/wrap.wasm
  yarn.lock
Labels: pri: high, pr: needs review, package: client-js

#1154 replace Option with Box | null in wasm-as
  packages/js/plugins/ws/README.md
  packages/js/plugins/ws/src/__tests__/e2e/e2e.spec.ts
  packages/js/plugins/ws/src/__tests__/e2e/integration.spec.ts
  packages/js/plugins/ws/src/__tests__/e2e/integration/schema.graphql
  packages/js/plugins/ws/src/__tests__/e2e/integration/src/index.ts
  packages/js/plugins/ws/src/index.ts
  packages/js/plugins/ws/src/schema.graphql
  packages/schema/bind/src/bindings/assemblyscript/functions.ts
  packages/schema/bind/src/bindings/assemblyscript/types.ts
  packages/schema/bind/src/bindings/assemblyscript/wasm/templates/deserialize_enum.mustache
  packages/schema/bind/src/bindings/assemblyscript/wasm/templates/env-type/index-ts.mustache
  packages/schema/bind/src/bindings/assemblyscript/wasm/templates/imported/module-type/index-ts.mustache
  packages/schema/bind/src/bindings/assemblyscript/wasm/templates/imported/object-type/index-ts.mustache
  packages/schema/bind/src/bindings/assemblyscript/wasm/templates/object-type/index-ts.mustache
  packages/schema/bind/src/bindings/assemblyscript/wasm/templates/serialization_imports.mustache
  packages/templates/package.json
  packages/templates/polywrap.wasm-linked.build.yaml
  packages/templates/polywrap.wasm-linked.yaml
  packages/templates/tests.spec.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/AnotherType/index.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/AnotherType/serialization.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/CustomMapValue/index.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/CustomMapValue/serialization.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/CustomType/index.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/CustomType/serialization.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/Env/index.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/Env/serialization.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/Module/serialization.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/else/index.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/else/serialization.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/imported/TestImport_AnotherObject/index.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/imported/TestImport_AnotherObject/serialization.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/imported/TestImport_Env/serialization.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/imported/TestImport_Module/index.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/imported/TestImport_Module/serialization.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/imported/TestImport_Object/index.ts
  packages/test-cases/cases/bind/sanity/output/wasm-as/imported/TestImport_Object/serialization.ts
  packages/test-cases/cases/wrappers/wasm-as/reserved-words/src/index.ts
  packages/wasm/as/assembly/__tests__/msgpack.spec.ts
  packages/wasm/as/assembly/__tests__/msgpack_write_optional.spec.ts
  packages/wasm/as/assembly/containers/index.ts
  packages/wasm/as/assembly/index.ts
  packages/wasm/as/assembly/msgpack/Read.ts
  packages/wasm/as/assembly/msgpack/ReadDecoder.ts
  packages/wasm/as/assembly/msgpack/Write.ts
  packages/wasm/as/assembly/msgpack/WriteEncoder.ts
  packages/wasm/as/assembly/msgpack/WriteSizer.ts
Labels: pr: needs review, package: schema, package: wasm

#1051 Feat: CLI `polywrap codegen` Command
  packages/cli/lang/en.json
  packages/cli/lang/es.json
  packages/cli/src/__tests__/e2e/app.spec.ts
  packages/cli/src/__tests__/e2e/build.spec.ts
  packages/cli/src/__tests__/e2e/codegen.app.spec.ts
  packages/cli/src/__tests__/e2e/codegen.plugin.spec.ts
  packages/cli/src/__tests__/e2e/codegen.spec.ts
  packages/cli/src/__tests__/e2e/codegen.wasm.spec.ts
  packages/cli/src/__tests__/e2e/create.spec.ts
  packages/cli/src/__tests__/e2e/deploy.spec.ts
  packages/cli/src/__tests__/e2e/help.spec.ts
  packages/cli/src/__tests__/e2e/helpers/testCliOutput.ts
  packages/cli/src/__tests__/e2e/helpers/testCodegenOutput.ts
  packages/cli/src/__tests__/e2e/infra.spec.ts
  packages/cli/src/__tests__/e2e/no-command.spec.ts
  packages/cli/src/__tests__/e2e/plugin.spec.ts
  packages/cli/src/__tests__/e2e/run.spec.ts
  packages/cli/src/commands/app.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/codegen.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/docgen.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/plugin.ts
  packages/cli/src/lib/option-parsers/app.ts
  packages/cli/src/lib/option-parsers/docgen.ts
  packages/cli/src/lib/option-parsers/index.ts
  packages/cli/src/lib/option-parsers/manifestFile.ts
  packages/cli/src/lib/option-parsers/plugin.ts
  packages/cli/src/lib/project/AppProject.ts
  packages/cli/src/lib/project/PluginProject.ts
  packages/cli/src/lib/project/PolywrapProject.ts
  packages/cli/src/lib/project/helpers/getProjectFromManifest.ts
  packages/cli/src/lib/project/index.ts
  packages/templates/app/typescript-node/package.json
  packages/templates/app/typescript-react/package.json
  packages/templates/plugin/typescript/package.json
  packages/templates/wasm/assemblyscript/package.json
  packages/templates/wasm/rust/package.json
  packages/test-cases/cases/cli/app/codegen/001-sanity/expected/stdout.json
  packages/test-cases/cases/cli/app/codegen/002-with-plugin/expected/stdout.json
  packages/test-cases/cases/cli/app/codegen/003-multi-import/expected/stdout.json
  packages/test-cases/cases/cli/app/codegen/004-custom-config/expected/stdout.json
  packages/test-cases/cases/cli/app/codegen/005-custom-manifest-file/expected/stdout.json
Labels: pr: needs changes, package: cli

#1229 find validation script relative to workflow manifest
  packages/cli/src/commands/run.ts
  packages/templates/wasm/assemblyscript/polywrap.test.yaml
Labels: pr: needs review, package: cli

#1133 Allow user to get plugin config from client
  packages/js/client/src/PolywrapClient.ts
  packages/js/client/src/__tests__/core/plugin-wrapper.spec.ts
  packages/js/core/src/types/Client.ts
Labels: pr: needs review, package: client-js

#1060 IPFS Plugin - move config into envs + method options
  packages/cli/src/lib/helpers/client.ts
  packages/cli/src/lib/test-env/client-config.ts
  packages/interfaces/ipfs/src/schema.graphql
  packages/js/client-config-builder/src/bundles/default-client-config.ts
  packages/js/client/scripts/extractPluginConfigs.ts
  packages/js/client/src/__tests__/utils/getClientWithEnsAndIpfs.ts
  packages/js/client/src/pluginConfigs/Ipfs.ts
  packages/js/client/src/pluginConfigs/index.ts
  packages/js/plugins/ethereum/src/__tests__/e2e.spec.ts
  packages/js/plugins/ipfs/src/__tests__/e2e.spec.ts
  packages/js/plugins/ipfs/src/index.ts
  packages/js/plugins/ipfs/src/schema.graphql
  packages/js/plugins/uri-resolvers/ens-resolver/src/__tests__/e2e.spec.ts
  packages/js/plugins/uri-resolvers/file-system-resolver/src/__tests__/e2e.spec.ts
  packages/js/plugins/uri-resolvers/ipfs-resolver/src/__tests__/e2e.spec.ts
  packages/js/plugins/uri-resolvers/ipfs-resolver/src/index.ts
  packages/js/plugins/uri-resolvers/ipfs-resolver/src/schema.graphql
  packages/js/react/src/__tests__/app/SimpleStorage.tsx
  packages/js/react/src/__tests__/config.ts
  packages/js/react/src/__tests__/integration.spec.tsx
  packages/js/react/src/__tests__/usePolywrapClient.spec.tsx
  packages/js/react/src/__tests__/usePolywrapInvoke.spec.tsx
  packages/js/react/src/__tests__/usePolywrapQuery.spec.tsx
Labels: pri: high, pr: needs review, package: client-js

#1083 HTTP Host/Fetch support: Deploy and infra module + Resolver
  packages/cli/package.json
  packages/cli/src/lib/defaults/deploy-modules/http/index.ts
  packages/cli/src/lib/defaults/deploy-modules/http/polywrap.deploy.ext.json
  packages/cli/src/lib/defaults/infra-modules/http/docker-compose.yaml
  packages/cli/src/lib/defaults/infra-modules/http/server/Dockerfile
  packages/cli/src/lib/defaults/infra-modules/http/server/package.json
  packages/cli/src/lib/defaults/infra-modules/http/server/src/app.ts
  packages/cli/src/lib/defaults/infra-modules/http/server/src/config/normalizePort.ts
  packages/cli/src/lib/defaults/infra-modules/http/server/src/controllers/index.ts
  packages/cli/src/lib/defaults/infra-modules/http/server/src/controllers/wrappers.ts
  packages/cli/src/lib/defaults/infra-modules/http/server/src/server.ts
  packages/cli/src/lib/defaults/infra-modules/http/server/src/utils/sanitization.ts
  packages/cli/src/lib/defaults/infra-modules/http/server/src/utils/zip.ts
  packages/cli/src/lib/defaults/infra-modules/http/server/tsconfig.json
  packages/cli/src/lib/defaults/infra-modules/http/server/yarn.lock
  packages/interfaces/http/README.md
  packages/interfaces/http/package.json
  packages/interfaces/http/polywrap.deploy.yaml
  packages/interfaces/http/polywrap.yaml
  packages/interfaces/http/src/schema.graphql
  packages/js/client-config-builder/package.json
  packages/js/client-config-builder/src/bundles/default-client-config.ts
  packages/js/client/package.json
  packages/js/client/src/__tests__/core/plugin-wrapper.spec.ts
  packages/js/client/src/__tests__/core/sanity.spec.ts
  packages/js/client/src/__tests__/core/uri-resolution/histories/can resolve a URI resolver extension wrapper.json
  packages/js/client/src/__tests__/core/uri-resolution/histories/can resolve previously cached URI after redirecting by a URI resolver extension - 1.json
  packages/js/client/src/__tests__/core/uri-resolution/histories/can resolve previously cached URI after redirecting by a URI resolver extension - 2.json
  packages/js/client/src/__tests__/core/uri-resolution/histories/custom wrapper resolver does not cause infinite recursion when resolved at runtime.json
  packages/js/client/src/__tests__/core/uri-resolution/histories/restarts URI resolution after URI resolver extension redirect.json
  packages/js/client/src/__tests__/core/uri-resolution/histories/sanity.json
  packages/js/plugins/http/polywrap.plugin.yaml
  packages/js/plugins/http/src/__tests__/e2e/e2e.spec.ts
  packages/js/plugins/http/src/__tests__/e2e/integration.spec.ts
  packages/js/plugins/http/src/__tests__/e2e/integration/polywrap.yaml
  packages/js/plugins/http/src/__tests__/unit/index.test.ts
  packages/js/plugins/http/src/__tests__/unit/util.test.ts
  packages/js/plugins/http/src/index.ts
  packages/js/plugins/http/src/schema.graphql
  packages/js/plugins/http/src/util.ts
  packages/js/plugins/uri-resolvers/ens-resolver/README.md
  packages/js/plugins/uri-resolvers/file-system-resolver/README.md
  packages/js/plugins/uri-resolvers/http-resolver/README.md
  packages/js/plugins/uri-resolvers/http-resolver/jest.config.js
  packages/js/plugins/uri-resolvers/http-resolver/package.json
  packages/js/plugins/uri-resolvers/http-resolver/polywrap.plugin.yaml
  packages/js/plugins/uri-resolvers/http-resolver/src/__tests__/e2e.spec.ts
  packages/js/plugins/uri-resolvers/http-resolver/src/index.ts
  packages/js/plugins/uri-resolvers/http-resolver/src/schema.graphql
  packages/js/plugins/uri-resolvers/http-resolver/tsconfig.build.json
  packages/js/plugins/uri-resolvers/http-resolver/tsconfig.json
  packages/js/plugins/uri-resolvers/ipfs-resolver/README.md
  packages/js/test-env/src/index.ts
  yarn.lock
Labels: package: cli

#1218 fix: update tracer + install latest signoz
  packages/cli/package.json
  packages/cli/scripts/installTracerInfraModule.ts
  packages/cli/src/lib/defaults/infra-modules/tracer/alertmanager.yml
  packages/cli/src/lib/defaults/infra-modules/tracer/clickhouse-storage.xml
  packages/cli/src/lib/defaults/infra-modules/tracer/common/locust-scripts/locustfile.py
  packages/cli/src/lib/defaults/infra-modules/tracer/common/nginx-config.conf
  packages/cli/src/lib/defaults/infra-modules/tracer/data/alertmanager/.gitkeep
  packages/cli/src/lib/defaults/infra-modules/tracer/data/clickhouse/.gitkeep
  packages/cli/src/lib/defaults/infra-modules/tracer/data/signoz/.gitkeep
  packages/cli/src/lib/defaults/infra-modules/tracer/docker-compose-core.yaml
  packages/cli/src/lib/defaults/infra-modules/tracer/docker-compose-local.yaml
  packages/cli/src/lib/defaults/infra-modules/tracer/docker-compose-prod.yaml
  packages/cli/src/lib/defaults/infra-modules/tracer/docker-compose.yaml
  packages/cli/src/lib/defaults/infra-modules/tracer/otel-collector-config.yaml
  packages/cli/src/lib/defaults/infra-modules/tracer/otel-collector-metrics-config.yaml
  packages/cli/src/lib/defaults/infra-modules/tracer/prometheus.yml
  packages/js/tracing/package.json
  packages/js/tracing/src/index.ts
  yarn.lock
Labels: pr: do not merge
